.topnavtable {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 15px 20px;
    width: 200px;
    height: 80px;
    border: 3px;
    font-family: Georgia, serif;
    font-size: 15px;
    font-weight: 100;
    color: white;
    background-color: black;
    border-radius: 2px;
    margin: 0 auto;
    float: center;
}
.topnavtable:hover {
    
    padding: 15px 20px;
    width: 200px;
    height: 80px;
    border: 3px;
    font-family: Georgia, serif;
    font-size: 15px;
    color: green;
    background-color: black;
    border-radius: 2px;
    margin: 0 auto;
    float: center;
    
}

.homebutton {
    padding: 15px 20px;
    width: 200px;
    height: 45px;
    border: 3px;
    font-family: Georgia, serif;
    font-size: 15px;
    font-weight: 100;
    border-radius: 5px 0px 0px 5px;
    margin: 0 auto;
    float: center;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.homebutton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.topnav {
    background-color: black;
    border-radius: 5px 0px 0px 5px;
    overflow: hidden;

}

.topnav a {
    font-family: Georgia, serif;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 13px;

}

.topnav a:hover {
    background-color: gray;
    color: black;
}

body {
    background-image: url("https://orig00.deviantart.net/f4dc/f/2018/318/c/3/background_by_anomallie-dcs0lmh.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.paragraph {
    text-align: center;
}